/* FILEPATH: /d:/VS Code Programs/DnDCharacterBuilder/DnDCharacterBuilder/css/style.css */
body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    font-size: xx-large;
}



#container {
    width: 80%;
    margin: 5% auto;
    background-color: #ccc;
    border-radius: 10px;
}

.question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.option {
     margin-left: 5%; 
}
    

.option input[type="radio"] {
    /* Makes radio buttons look nicer*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #000;
    transition: 0.2s all linear;
    cursor: pointer;
}

.option input[type="radio"]:checked {
    background-color: #000;
}

.option input[type="radio"]:hover {
    transform: scale(1.1);
}

.option input[type="checkbox"] {
    /* Makes checkboxes look nicer*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 2px solid #000;
    transition: 0.2s all linear;
    cursor: pointer;
}

.option input[type="checkbox"]:checked {
    background-color: #000;
}

.option input[type="checkbox"]:hover {
    transform: scale(1.1);
}

#submit {
    margin: 2% 47%;
    padding: 10px;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: 0.2s all linear;
    font-size: x-large;
}

#submit:hover {
    background-color: #fff;
    color: #000;
}

#submit:active {
    transform: scale(0.9);
}

#submit:focus {
    outline: none;
}

